body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2899px;
}
#u1151 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2899px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:1442px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
