body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1801px;
}
#u1135 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1801px;
}
#u1136 {
  position:absolute;
  left:2px;
  top:892px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:196px;
}
#u1137 {
  position:absolute;
  left:523px;
  top:275px;
  width:198px;
  height:196px;
}
#u1138 {
  position:absolute;
  left:2px;
  top:90px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:197px;
}
#u1139 {
  position:absolute;
  left:523px;
  top:1022px;
  width:198px;
  height:197px;
}
#u1140 {
  position:absolute;
  left:2px;
  top:90px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:197px;
}
#u1141 {
  position:absolute;
  left:523px;
  top:525px;
  width:198px;
  height:197px;
}
#u1142 {
  position:absolute;
  left:2px;
  top:90px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:196px;
}
#u1143 {
  position:absolute;
  left:523px;
  top:775px;
  width:198px;
  height:196px;
}
#u1144 {
  position:absolute;
  left:2px;
  top:90px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:196px;
}
#u1145 {
  position:absolute;
  left:523px;
  top:1272px;
  width:198px;
  height:196px;
}
#u1146 {
  position:absolute;
  left:2px;
  top:90px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
